@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Public sans", sans-serif;
}
.paintings{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 35px 0;
}

.paintings .painting{
    height: 431px;
    width: 335px;
    /* position: relative; */
}

.paintings .painting .description{
    /* position: absolute;
    bottom: 40px;
    left: 20px; */
    transform: translate(30px, -120px);
    color: #fff;
}

.paintings .painting .description h2{
    font-style: 700;
    font-size: 35px;
}

.paintings .painting .description p{
    font-size: 17px;
    font-weight: 300;
    opacity: 0.8;
}